body {
    background-color: #E8EAF6;
}

.mainItems {
    padding: 10%;
}

.groceryItemName {
    font-family: "cursive";
    font-size: 1.2em;
}

.formMainBody {
    margin: 10%;
    margin-top: 2%;
}

.categories {
    background-color: #BDBDBD;
}

.form {
    margin-top: 10%;
}

.store--modal {
    display: block;
}

.modal--close {
    position: absolute;
    right: 0;
    margin-top: 3rem;
    margin-right: 6rem;
    font-size: 3rem;
}

.modal-content {
    padding: 2rem;
}

.modal-dialog {
    z-index: 1050;
}
