<h4>{{editItemCtrl.item.itemName}}</h4>
<form class="text-center form" ng-submit="editItemCtrl.updateItem()">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="editItemCtrl.editedItem.itemName" placeholder="Enter item name">
    </div>
    <button type="submit" class="btn btn-success pull-left">
        <i class="fa fa-check-square " aria-hidden="true"></i>
        <span>Save</span>
    </button>
    <button type="button" class="btn btn-secondary pull-right" ng-click="editItemCtrl.CancelEditing();">
        <span>Cancel</span>
    </button>
</form>