body{
    background-color: #E8EAF6;
}

.mainItems{
    padding: 10%;
}

.groceryItemName{
    font-family:"cursive";
    font-size: 1.2em;
}

.formMainBody{
    margin: 10%;
    margin-top: 2%;
}
.strike{
    text-decoration: line-through;
}