<div class="col-xs-12" ng-controller="GroceryListItemController">
    <a href="#/addItem" class="btn btn-secondary btn form-control">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <ul ng-repeat="item in groceryItems | orderBy:'date'" class="list-group list-group-flush">
        <li class="list-group-item text-center">
<!--            <button class="btn btn-success btn-sm pull-left">-->
<!--                <i class="fa fa-check-square " aria-hidden="true"></i></button>-->
            <span class=" groceryItemName">{{item.itemName | uppercase}}</span>
        </li>
    </ul>
</div>
