<div class="containter formMainBody" >
    <div class="jumbotron">
        <h1 class="display-4">Add grocery items!!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter item name">
        </div>
        <a href="#/" class="form-control btn-success">
            <i class="fa fa-check-square " aria-hidden="true"></i>
        </a>
        <br>
        <a href="#/" class="form-control btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    </form>
</div>