<div class="container-fliud">
    <div class="row">
        <div class="col-3 categoryPanel">
            <h1>Category</h1>
            <h1>Category</h1>
            <h1>Category</h1>
        </div>
        <div class="col-9 mainBody">
            <div class="container">
                <div class="row" >
                </div>
                <div class="row" >
                    <div class="col">
                        <span class="fas fa-edit"></span>
                    </div>
                    <div class="col">
                        <p>Bookmark</p>
                    </div>
                    <div class="col">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="fas fa-edit" ></span>
                    </div>
                    <div class="col">
                        <p>Bookmark</p>
                    </div>
                    <div class="col">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row" >
                    <div class="col">
                        <span class="fas fa-edit" ></span>
                    </div>
                    <div class="col">
                        <p>Bookmark</p>
                    </div>
                    <div class="col">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div >
    {{vm.firstTutorial}}
    <br>
    <a href="#!/second-page">Second Page</a>
    <br>
    <a href="#!/randomStuff">Bad link</a>
</div>