<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add the item!</h3>
    <button type="button" class="close" data-dismiss="modal" ng-click="modalInstanceCreateCtrl.cancel()"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <input type="text" ng-model="modalInstanceCreateCtrl.data" class="form-control">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modalInstanceCreateCtrl.save();">Save</button>
    <button class="btn btn-warning" type="button" ng-click="modalInstanceCreateCtrl.cancel()">Cancel</button>
</div>