<div>
    {{itemsListCtrl.currentCategoryName}}
    {{itemsListCtrl.getCurrentCategoryName()}}
    <ul class="list-group list-group-flush">
        <li ng-repeat="item in itemsListCtrl.groceryItems | filter:{ category : itemsListCtrl.getCurrentCategoryName()}"
            class="list-group-item text-center">
            <button class="btn btn-secondary btn pull-left" ui-sref="eggly.categories.items.edit({id:item.id})">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button type="button" class="close pull-right" ng-click="deleteItem(item)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class=" groceryItemName">{{item.itemName | uppercase}}</span>
        </li>
    </ul>
    <hr>
    <!--            creating new item-->
    <!--    <ui-view ng-if="itemsListCtrl.getCurrentCategory()">-->
    <ui-view ng-if="itemsListCtrl.getCurrentCategory()">
        <button type="button" class="btn btn-link" ui-sref="eggly.categories.items.create">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>ADD ITEM</span>
        </button>
        <!--        <div ng-if="isCreating">-->
        <!--        Create a bookmark!-->
        <!--        </div>-->
    </ui-view>
    <!--            editing new item-->
    <!--    <div ng-if="ShouldShowEditing()">-->
    <!--        Editing current item-->
    <!--        -->
    <!--    </div>-->
</div>
